@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 15%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}


a {
  display: flex;
  font-weight: 500;
  text-decoration: None;
  cursor: pointer;
  color: white;
  height: 100%;;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.5em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea{
  color: white;
  background-color: #242424;
  border: solid rgba(255, 255, 255, 0.219) 1px;
}

input:focus, textarea:focus{
  outline: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main{
  height: 100vh;
}


/*css for login/register part of the app*/
.login-register-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container{
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.616);
  padding: 3.0rem;
  border-radius: 0.5rem;
}

.form-container > h2{
  text-align: center;
  margin-top: 0;
}

.form-container > label{
  align-items: center;
  text-align: center;
  padding: 5px;
}

.form-container > input{
  padding: 0.75rem;
}

.form-container > span{
  margin-top: 1.5rem;
}

.form-container > button{
  margin-top: 1rem;
}

.form-container > .error-message{
  color: rgb(190, 8, 38);
}


/*Begining of header section*/
.header-container{
  display: flex;
  height: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.right-control-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 10px;
}


.profile-picture-wrapper > img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.left-control-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 10px;
  height: 100%;
}

.logo{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  color: rgb(40, 89, 5);
}

.header-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

ul{
  font-size: 26px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header-nav li{
  display: flex;
  width: 120px;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.header-nav  li:hover{
  background-color: hsl(0, 0%, 20%);
}

/*testing container for elements*/
.test-container{
  display: flex;
  gap: 10px;
}

.main-page-container{
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 50px;
}

.new-deal-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-deal-container-first-row{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 50px;
}

.new-deal-container-tag-row{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 10px;
  align-items: center;
  justify-content: center;
}


/*Interactive deal creation element*/
.deal-container{
  display: flex;
  width: 300px;
  font-size: inherit;
  flex-direction: column;
}

.deal-container-small{
  display: flex;
  width: 150px;
  font-size: 0.5rem;
  flex-direction: column;
}

.deal-grid-container{
  font-size: inherit;
  display: grid;
  border: 5px solid hsl(122, 76%, 82%);
  background-color: hsl(121, 82%, 29%);
  border-radius: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  aspect-ratio: 1/1;
}

.deal-grid-container > div{
  font-size: inherit;
  display: flex;
  flex-direction: column;
}

.deal-grid-container > div:first-child{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deal-grid-container > div > span{
  font-size: 1em;
  padding-left: 5px;
  display: block;
  flex: 1 1 0;
  height: 0;
}

/*Interactive deal creation element center piece*/
.deal-grid-container-center{
  font-size: inherit;
  display: flex;
  flex: 1;
  padding: 0.2em;
  justify-content: space-around;
  align-items: center;
}

.deal-grid-container-center > div{
  font-size: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.deal-grid-container-center > div > span{
  display: flex;
  font-size: 1em;
  border: 2px black solid;
  border-radius: 100%;
  width: 2em;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.deal-grid-container-center > div:nth-child(2){
  display: flex;
  justify-content: space-between;
  width:100%;
}

.vul-n > div:nth-child(odd) > span{
  background-color: rgb(234, 32, 32);
}

.vul-e > div:nth-child(even) > span{
  background-color: rgb(234, 32, 32);
}

.tags-container{
  display: flex;
  height: 2rem;
  flex-direction: row;
  row-gap: 1rem;
  column-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left
}

.tags-container > span{
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;
}

.tags-container > span:hover{
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;
  background-color: rgba(104, 104, 104, 0.494);
  cursor: pointer;
}

/*End of center piece setup*/
/*End of interactive deal creation element*/

/* Deal creator container */
.deal-creator-container{
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  border: 1px white solid;
  border-radius: 0.5rem;
  padding: 10px;
  gap: 10px;
}

.deal-creator-container > div > span{
  padding-right: 10px;
}

/* Comment section setup */
.create-comment-section{
  display: flex;
  width: 100%;
  border: 1px white solid;
  border-radius: 1rem;
  flex-direction: column;
}

.create-comment-section > input{
  width: 100%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.create-comment-section > textarea{
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.create-save-section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.option-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

/* all deals container */
.all-deals-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

/* Deal list item setup */
.deal-list-item{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 1rem;
  justify-content:space-between;
  cursor: pointer;
}

.deal-list-item:hover{
  border: rgb(40, 89, 5) 2px solid;
}

.deal-list-item > div:nth-child(3){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deal-list-item > div:last-child{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.deal-list-item > div:last-child > span{
  font-size: 0.7rem;
  margin-top: 1rem;
}

.bi-suit-heart-fill, .bi-suit-diamond-fill{
  color: rgb(234, 32, 32);
}

.bi-suit-spade-fill, .bi-suit-club-fill{
  color: hsl(0, 0%, 10%);
}
